---
layout: subpage
title: 'NestJS'
description: ' 심화 데브캠프 : NestJS를 이용한 이커머스 사이트 구현 '
header-img: 'https://cdn.jsdelivr.net/gh/junsoopooh/junsoopooh.github.io/img/introheader.webp'
header-mask: 0.3
hide-in-nav: true
---

<h1>NestJS</h1>

<ul>
  {% for post in site.posts %} {% if post.category == 'project' and
  post.subcategory == 'nestjs' %}
  <div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
      <h2 class="post-title">{{ post.title }}</h2>
      {% if post.subtitle %}
      <h3 class="post-subtitle">{{ post.subtitle }}</h3>
      {% endif %}
    </a>
    <p class="post-meta">{{ post.date | date: "%Y.%m.%d" }}</p>
  </div>
  <hr />
  {% endif %} {% endfor %}
</ul>
