---
title: Archive
layout: default
description: "아카이브 저장"
header-img: "img/introheader.jpg"
---

<!-- Page Header -->
{% include intro-header.html type='page' short=true %}

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<!-- Tags (as filter) -->
			<div id='tag_cloud' class="tags tags-sup js-tags">
                <span>Tag Top 5:</span>
                {% assign sorted_tags = site.tags | sort: 'size' | reverse %}
                {% for tag in sorted_tags limit:5 %}
                <a data-sort="{{ site.posts.size | minus: tag[1].size | prepend: '0000' | slice: -4, 4 }}"
                   data-encode="{{ tag[0] | strip | url_encode }}" class="tag-button" title="{{ tag[0] }}"
                   rel="{{ tag[1].size }}">
                    {{ tag[0] }}
                    <sup>{{tag[1].size}}</sup>
                </a>
                {% endfor %}
                <a href="#all_tags" id="show_all_tags">Show All Tags</a>
                <div id="all_tags" style="display: none;">
                {% for tag in sorted_tags %}
                    <a data-sort="{{ site.posts.size | minus: tag[1].size | prepend: '0000' | slice: -4, 4 }}"
                       data-encode="{{ tag[0] | strip | url_encode }}" class="tag-button" title="{{ tag[0] }}"
                       rel="{{ tag[1].size }}">
                        {{ tag[0] }}
                        <sup>{{tag[1].size}}</sup>
                    </a>
                {% endfor %}
                </div>
            </div>

			<!-- Article List -->
			<div class="mini-post-list js-result d-none">
				{%- assign sorted_list = site.posts | sort: 'date' -%}
				{%- assign sorted_list = sorted_list | reverse -%}
				{%- assign current_date = '' -%}
				{%- for article in sorted_list -%}
				{%- assign article_date = article.date | date: "%Y.%m.%d" -%}
				{%- if article_date != current_date -%}
				<h3>{{ article_date }}</h3>
				{%- assign current_date = article_date -%}
				{%- endif -%}
				<div class="post-preview item">
					<a href="{{ article.url | prepend: site.baseurl }}">
						<h4 class="post-title">
							{{ article.title }}
						</h4>
						{% if article.subtitle %}
						<p class="post-subtitle">
							{{ article.subtitle }}
						</p>
						{% endif %}
					</a>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

<script>
document.getElementById("show_all_tags").addEventListener("click", function() {
  var allTags = document.getElementById("all_tags");
  if (allTags.style.display === "none") {
    allTags.style.display = "block";
  } else {
    allTags.style.display = "none";
  }
});
</script>
