---
layout: page
description: "백엔드 개발자 블로그입니다."
header-img: "https://cdn.jsdelivr.net/gh/junsoopooh/junsoopooh.github.io/img/introheader.webp"
header-mask: 0.3
---
<h3>최근 게시물</h3>

{% for post in site.posts limit:5 %}
        <div class="post-preview">
            <!-- Category and Subcategory -->
            <h4 class="post-category">
                <em>{{ post.subcategory }} in {{ post.category }}</em>
            </h4>

            <!-- Title -->
            <h2 class="post-title">
                <a href="{{ post.url | prepend: site.baseurl }}">
                    {{ post.title }}
                </a>
            </h2>

            <!-- Subtitle and Date -->
            <div style="display: flex; justify-content: space-between;">
                {% if post.subtitle %}
                <h3 class="post-subtitle">
                </h5>
                {% endif %}
                <p class="post-meta">
                    {{ post.date | date: "%Y.%m.%d" }}
                </p>
            </div>
        </div>
        <hr style="border-top: 1px solid black;">
{% endfor %}

