---
layout: page
description: "블로그에 오신 것을 환영합니다."
header-img: "img/introheader.jpg"
header-mask: 0.3
---
<h3>최근 일주일 간 게시물</h3>
{% assign current_date = 'now' | date: '%s' %}
{% assign week_ago = current_date | minus: 604800 %}

{% for post in site.posts %}
    {% assign post_seconds = post.date | date: '%s' % | plus: 0 %}
    {% if post_seconds >= week_ago %}
        <div class="post-preview">
            <!-- Category and Subcategory -->
            <h4 class="post-category">
                <em>{{ post.subcategory }} in {{ post.category }}</em>
            </h4>

            <!-- Title -->
            <h2 class="post-title">
                <a href="{{ post.url | prepend: site.baseurl }}">
                    {{ post.title }}
                </a>
            </h2>

            <!-- Subtitle and Date -->
            <div style="display: flex; justify-content: space-between;">
                {% if post.subtitle %}
                <h3 class="post-subtitle">
                </h5>
                {% endif %}
                <p class="post-meta">
                    {{ post.date | date: "%Y.%m.%d" }}
                </p>
            </div>
        </div>
        <hr style="border-top: 1px solid black;">
    {% endif %}
{% endfor %}

