---
layout: page
title: "study"
description: "개인 공부 기록실"
header-img: "img/introheader.jpg"
header-mask: 0.3
subcategory: 
    - algorithm 
    - csapp
---

{% for post in site.categories.study %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta">
        {{ post.date | date: "%Y.%m.%d" }}
    </p>
</div>
<hr>
{% endfor %}