---
layout: page
title: "LOG"
description: "개발일지"
header-img: "img/introheader.jpg"
header-mask: 0.3
subcategory:
  - daily
  - interview
---

{% for post in site.categories.log %}
<div class="post-preview">
  <a href="{{ post.url | prepend: site.baseurl }}">
    <h2 class="post-title">{{ post.title }}</h2>
    {% if post.subtitle %}
    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
    {% endif %}
  </a>
  <p class="post-meta">{{ post.date | date: "%Y.%m.%d" }}</p>
</div>
<hr />
{% endfor %}
