---
layout: page
title: "jungle"
description: "SW사관학교 정글 6기"
header-img: "img/baby7.jpg"
header-mask: 0.3
subcategory:
    - essay
    - log
    - remind
---
{% for post in site.categories.jungle %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta">
        {{ post.date | date: "%Y.%m.%d" }}
    </p>
</div>
<hr>
{% endfor %}