---
layout: subpage
title: "Assignment"
description: " 원티드 프리온보딩 과제 "
header-img: "img/introheader.jpg"
header-mask: 0.3
hide-in-nav: true
---

<h1>ASSIGNMENT</h1>

<ul>
{% for post in site.posts %}
  {% if post.category == 'project' and post.subcategory == 'assignment' %}
  <div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta">
        {{ post.date | date: "%Y.%m.%d" }}
    </p>
</div>
<hr>
  {% endif %}
{% endfor %}
</ul>
