<!DOCTYPE html>
<html lang="{% if page.lang %}{{ page.lang }}{% else %}ko{% endif %}">
  {% include head.html %}

  <!-- hack iOS CSS :active style -->
  <body ontouchstart="">
    <a href="#main-content" class="skip-link sr-only sr-only-focusable">본문으로 건너뛰기</a>
    {% include nav.html %} {% include search.html %}
    <main id="main-content" role="main">
      {{ content }}
    </main>
    {% include footer.html %}

    <!-- Image to hack wechat -->
    <img
      src="https://cdn.jsdelivr.net/gh/importunate-dev/importunate-dev.github.io/img/icon_wechat.webp"
      width="0"
      height="0"
    />
    <!-- Migrate from head to bottom, no longer block render and still work -->
  </body>
</html>
