---
layout: default
header-img: "https://cdn.jsdelivr.net/gh/junsoopooh/junsoopooh.github.io/img/introheader.webp"
---

<!-- Page Header -->
{% include intro-header.html type='page' %}

<!-- Main Content -->
<div class="container">
  <div class="row">
    {% if site.sidebar == false %}
    <!-- NO SIDEBAR -->
    <!-- PostList Container -->
    <div
      class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 postlist-container"
    >
      {{ content }}
    </div>
    <!-- Sidebar Container -->
    <div
      class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 sidebar-container"
    >
      {% include sub-category.html %}
    </div>
    {% else %}
    <!-- USE SIDEBAR -->
    <!-- PostList Container -->
    <div
      class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-12 col-xs-12 postlist-container"
    >
      {{ content }}
    </div>
    <!-- Sidebar Container -->
    <div
      class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-12 col-xs-12 sidebar-container"
    >
      <!-- Extract category from the page path -->
      {% assign parts = page.path | split: "/" %} {% assign current_category =
      parts[0] %}

      <ul class="sub-categories-list">
        {% comment %} Create an empty array to store unique subcategories {%
        endcomment %} {% assign listed_subcategories = "" | split: "," %} {% for
        post in site.posts %} {% if post.category == current_category %} {% if
        post.subcategory and post.subcategory != "" %} {% unless
        listed_subcategories contains post.subcategory %} {% assign
        listed_subcategories = listed_subcategories | push: post.subcategory %}
        {% comment %} Count posts in this subcategory {% endcomment %} {% assign
        count = 0 %} {% for p in site.posts %} {% if p.category ==
        current_category and p.subcategory == post.subcategory %} {% assign
        count = count | plus: 1 %} {% endif %} {% endfor %}
        <li>
          <a
            href="{{ site.baseurl }}/{{ current_category }}/{{ post.subcategory }}"
            >{{ post.subcategory }}<span
              style="font-size: 0.85em; color: #999; margin-left: 4px"
              >({{ count }})</span
            ></a
          >
        </li>
        {% endunless %} {% endif %} {% endif %} {% endfor %}
      </ul>

      <!-- Short About -->
      {% include short-about.html %}
    </div>
    {% endif %}
  </div>
</div>

{% if site.page-mathjax %}

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    TeX: {
      equationNumbers: {
        autoNumber: "AMS"
      }
    },
    tex2jax: {
      inlineMath: [ ['$','$'] ],
      displayMath: [ ['$$','$$'] ],
      processEscapes: true,
    }
  });
</script>
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
></script>
{% endif %}
